*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #1B396A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
    z-index: 2;
}
.header::before{
    content: '';
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.header:hover::before{
    left: 100%;
}
.Logo img{
    margin-left: 20px;
    max-width: 100px;
    height: auto;
}
.navbar{
    margin-right: auto;
}
.navbar a{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 50px;
}
.navbar a:hover{
    color: rgba(128,127,131,0.9);
}

@media print {
    /* Oculta la barra de menú azul en TODAS las páginas al imprimir */
    .Contenedor__Navbar {
        display: none !important;
    }
}